<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="row py-5 justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 0.5rem;">
            <div class="card-body p-5 text-center" style="box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4); border-radius: 8px 8px 8px 8px;">

              <h3 class="mb-5">Registrate</h3>

              <div class="form-outline mb-4">
                <%= f.input :name,
                label: "Nombre",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "Name", class:"form-control form-control-lg" } %>
              </div>

              <div class="form-outline mb-4">
                <%= f.input :last_name,
                label: "Apellido",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "Last name", class:"form-control form-control-lg" } %>
              </div>

              <div class="form-outline mb-4">
                <%= f.input :email,
                label: "Email",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class:"form-control form-control-lg" } %>
              </div>

              <%= f.input :password,
                label: "Contraseña",
                required: true,
                hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
              <%= f.button :submit, "Crear cuenta", class:"btn btn-primary btn-lg btn-block mt-3" %>
              <%# <hr class="my-4"> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
