<%= simple_form_for @recipe do |f| %>
      <div class="row py-5 justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 0.5rem;">
            <div class="card-body p-5 text-center" style="box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4); border-radius: 8px 8px 8px 8px;">
              <h3 class="mb-5">Editar Receta Médica</h3>
              <div class="form-outline mb-4">
                <%= f.input :date,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "date", class:"form-control form-control-lg" } %>
              </div>
              <div class="form-outline mb-4">
                <%= f.input :doctor_name,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "date", class:"form-control form-control-lg" } %>
              </div>
              <div class="form-outline mb-4">
                <%= f.input :photo,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "date", class:"form-control form-control-lg" } %>
              </div>
              <%= f.button :submit, "Guardar", class:"btn btn-primary btn-lg btn-block mt-3" %>
              <%# <hr class="my-4"> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
