<div class="no-wrap">
  <div>
    <%= render "shared/sidebar" %>
  </div>
  <div class="contenedor mt-5 vh-100">
    <div class="card mt-5" style="width: 50rem">
      <div class="row"style="display: flex;position: relative;right: 16rem;top: 2rem;">
        <h2 style="position: relative;left: 2rem;top: 2.4rem;">Prescripciones</h2>
          <div class="button-exam" style="position: relative;right: -33rem;top: -0.5rem;">
            <%= link_to "+", new_recipe_path, class:"btn btn-primary mb-5" %>
          </div>
      </div>

      <div class="row">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Profesional</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <th scope="row"><%= recipe.date %></th>
            <td><%= recipe.doctor_name %></td>
            <td><%= link_to recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Desea eliminar el elemento de manera permanente?"} do %>
              <i class="fa-solid fa-trash"></i>
              <% end %>
              <%= link_to edit_recipe_path(recipe) do %>
              <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to recipe_path(recipe) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
