<%# <div class="card">
  <div class="row align-items-center vh-100">
    <div class="col-sm-6 justify-content-center">
      <div class="card">
        <div class="card-body">
          <h3><strong><%= @recipe.date</strong></h3> %>
          <%# <h3><strong><%= @recipe.doctor_name</strong></h3> %>
          <%# <%= cl_image_tag @recipe.photo.key %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
    <%# <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <%=  %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>

<div class="container align-items-center justify-content-center vh-100">
  <div class="card">
    <h3><strong><%= @recipe.date %></h3>
    <h3><strong><%= @recipe.doctor_name %></strong></h3>
    <%= cl_image_tag @recipe.photo.key %>
  </div>
</div>
