 <!-- Side navigation -->
<div class="sidenav">
  <div class="s-profile">
    <a href data-ma-action="proifle-menu-toggle" class="s-profile mb-3">
      <div class="sp-info">
        <span class="username" style="display: inline;"></span>
        <i class="fa fa-caret-down"> <%= current_user.name %> </i>
      </div>
    </a>
    <ul class="main-menu" style="display: block;">
      <li>
        <a href="" onclick="return showModalDialog(this);">
          <span class="fa fa-fw fa-user"></span> Mis datos
        </a>
      </li>
      <li>
        <a href="" onclick="return showModalDialog(this);">
          <span class="fa fa-fw fa-gear"></span> Cambiar contraseña
        </a>
      </li>
      <li>
        <a href="javascript:;" onclick="logoff();" title="Cerrar sesión"><span class="fa fa-fw fa-power-off"></span> Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h1> <%= link_to "Mi salud", root_path%> </h1>
    <h1> <%= link_to "Examenes", exams_path%> </h1>
    <h1> <%= link_to "Habitos", habits_path%> </h1>
    <h1> <%= link_to "Prescripciones", recipes_path%> </h1>
    <h1> <%= link_to "Turnos", bookings_path%> </h1>
  </div>

<!-- Page content -->
<div class="main">
  ACA?
</div>
