<div class="contenedor-section py-5">
  <div>
    <h3 class="titulo-home"> Recupera el control <br> de tu salud.</h3>
    <hr />
    <p class="">
      ¡Bienvenidos a nuestro sitio web de salud! <br>
      Aquí puedes subir toda tu historia clínica y tener acceso a ella en cualquier momento y lugar. <br>
      es más fácil mantener un registro actualizado y hacer un seguimiento de tu salud. Con Mi salud al tener todo tu historial clínico digitalmente, puedes evitar llevar copias en papel contigo a cada consulta médica.
    </p>
    <%= link_to "Comenzar", "#", class: "btn btn-primary mt-3" %>
  </div>
  <div class="picture-home"> <%= image_tag  "foto-home-doctor", class:"image-1-home" %> <%= image_tag "foto-home-doctor-2", class:"image-2-home" %>
  </div>
</div>

<div class="contenedor-section2">
  <div class="card-home">
    <div class="picture-home-2"> <%= image_tag  "foto-appointment1", class:"image-3-home" %>
    </div>
    <div class="overflow-auto">
      <h3 class="titulo-home">Gestiona tus estudios</h3>
      <hr />
      <p>¡Bienvenidos a nuestro sitio web dedicado a ayudarle a gestionar sus citas médicas y a mantener un registro de su historial médico! Ya sea que tenga dificultades para recordar su próxima revisión o desee mantener un registro de sus tratamientos anteriores, estamos aquí para ayudarle. Nuestra plataforma de fácil uso le permite programar citas, recibir recordatorios y almacenar su historial médico en un solo lugar. Con nuestra ayuda, podrá controlar su atención médica y estar al tanto de su salud.</p>
      <div>
        <%= image_tag  "mensajes", class:"image-4-home" %>
      </div>
      <%= link_to "Comenzar", "#", class: "btn btn-primary mt-3" %>
    </div>


  </div>
</div>
<div class="contenedor-section py-5">
  <div>
    <h3 class="titulo-home"> Mantene tus examenes <br> ordenados.</h3>
    <hr />
    <p class="" style="margin-right: 39rem;">
       Mi salud,<br>
      Donde puedes subir archivos como radiografías, análisis de sangre y organizarlos por categorías. Con nuestro sitio, usted puede mantener todos sus resultados médicos importantes en un solo lugar seguro y fácil de acceder. ¡No más buscar entre carpetas de papeles desordenadas! Ahora puede tener toda su información médica a mano, en cualquier momento y lugar. ¡Comience a utilizar nuestro sitio web de salud hoy mismo para tener un control mejor sobre su salud! <br>
    </p>
    <%= link_to "Comenzar", "#", class: "btn btn-primary mt-3" %>
  </div>
  <div>
  <div class="row product-contenedor">
           <div class="card-exams-home" style="width: 13rem;">
                <img src="assets/Blood-test-cuate.png" class="card-img-top" alt="...">
              <div class="card-body-1">
                  <h5 class="card-title-1">Laboratorio</h5>
                  <p class="card-text-1">Encontra todos tus estudios relaciondo con la caridiologia</p>
              </div>
            </div>
   </div>
   <div class="row product-contenedor">
           <div class="card-exams-home-2" style="width: 13rem;">
                <img src="assets/Cardiologist-pana.png" class="card-img-top" alt="...">
              <div class="card-body-1">
                  <h5 class="card-title-1">Cardiologia</h5>
                  <p class="card-text-1">Encontra todos tus estudios relaciondo con la caridiologia</p>
              </div>
            </div>
   </div>
  </div>
  </div>
</div>
