<section>
  <div class="container -wide">
    <div class="card-home">
          <div>
            <h3 class="titulo-home"> Recupera el control <br> de tu salud.</h3>
             <p class="">
              ¡Bienvenidos a nuestro sitio web de salud! <br>
              Aquí puedes subir toda tu historia clínica y tener acceso a ella en cualquier momento y lugar. <br>
              es más fácil mantener un registro actualizado y hacer un seguimiento de tu salud. Con Mi salud al tener todo tu historial clínico digitalmente, puedes evitar llevar copias en papel contigo a cada consulta médica.
            </p>
              <%= link_to "Comenzar", class: "btn btn-primary mt-3" %>
          </div>
            <div class="picture-home"> <%= image_tag  "foto-home-doctor", class:"image-1-home" %> <%= image_tag "foto-home-doctor-2", class:"image-2-home" %>
            </div>
        </div>
  </div>
</section>

<div class="container -wide">
  <div class="card-home">
    <div class="overflow-auto">
        <h3 class="titulo-home">Gestiona tus estudios
          </h3>
          <p>¡Bienvenidos a nuestro sitio web dedicado a ayudarle a gestionar sus citas médicas y a mantener un registro de su historial médico! Ya sea que tenga dificultades para recordar su próxima revisión o desee mantener un registro de sus tratamientos anteriores, estamos aquí para ayudarle. Nuestra plataforma de fácil uso le permite programar citas, recibir recordatorios y almacenar su historial médico en un solo lugar. Con nuestra ayuda, podrá controlar su atención médica y estar al tanto de su salud.
          </p>
          <div>
          <%= image_tag  "mensajes", class:"image-4-home" %></div>
            <%= link_to "Comenzar", class: "btn btn-primary mt-3" %>
    </div>
      <div class="picture-home-2"> <%= image_tag  "foto-appointment1", class:"image-3-home" %>
      </div>
  </div>
</div>

<div class="background-div">
  <div class="container_2 -wide">
      <div>
        <h3 class="titulo-home2"> Recupera el control <br> de tu salud.</h3>
      </div>
    <div class="card-home2">
<div class="card" style="width: 18rem;">
  <img src="assets/lungs.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/lungs1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>
</div>




  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Footer Logo-->
              <div class="footer-logo mb-3"></div>
              <p>Appland is completely creative, lightweight, clean app landing page.</p>
              <!-- Copywrite Text-->
              <div class="copywrite-text mb-5">
                <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
              </div>
              <!-- Footer Social Area-->
              <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">About</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Corporate Sale</a></li>
                  <li><a href="#">Terms &amp; Policy</a></li>
                  <li><a href="#">Community</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Support</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help &amp; Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Call Centre</a></li>
                  <li><a href="#">Email Us</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help Center</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
<section></section>
<section></section>
