<div class="contenedor-principal mt-5">

  <div class="about mt-5">
    <h1>Quienes somos</h1>
    <p class="nosotros">Somos la compañía líder en Prevención de Riesgos Laborales y nuestro objetivo es garantizar la seguridad en tu compañía y cuidar de la salud de tus profesionales.</p>
  </div>

  <div class="office-img">
    <%= image_tag "vista_nosotros", class:"radio-imagen-office"  %>
  </div>

</div>
  <div class="row mt-5 vh-100">

    <div class="column-nosotros">
      <div class="card-nosotros">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686966/development/0a7dwram8vikp1tb69jf6e0s2h9h.png", class:"radio-imagen" %>
        <div class="contenedor-nosotros">
          <h2>Carolina Ramirez</h2>
          <p class="title" id="caro">Co-founder & CEO</p>
          <p class="description">International experience, working and learning in multicultural environments. Passionate about IT solutions.</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686968/development/xjt1kx3z4ok0r2py7xpvt3w7l8ma.jpg", class:"radio-imagen" %>
        <div class="contenedor-nosotros">
          <h2>Gastón Henrich</h2>
          <p class="title">Fullstack Dev</p>
          <p class="description">Hi my name is Gaston Henrich, I am 32 years old and I am from argentina, currently living in Australia. I am passionate and curious about technology .</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686964/development/4n5bosu9lvxgpilbupsvff7bst0i.jpg", class:"radio-imagen" %>
        <div class="contenedor-nosotros">
          <h2>Francisco Giacchi</h2>
          <p class="title">Fullstack Dev</p>
          <p class="description">International Master in Business Administration. I am passionate about solving problems, analysing them from different perspectives.</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686962/development/e6xjmbo9d0rnqilhqha5hzixi0ay.jpg", class:"radio-imagen" %>
        <div class="contenedor-nosotros">
          <h2>Michelle Madrid</h2>
          <p class="title">Fullstack Dev</p>
          <p class="description">Engineering student at Pontificia Universidad Católica de Chile. I like nature, watching films and going out with friends.</p>
        </div>
      </div>
    </div>
  </div>
