<%= link_to "Agregar", new_exam_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Lugar</th>
      <th scope="col">Acciones </th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam|  %>
    <tr>
      <th scope="row"><%= exam.date %></th>
      <td><%= exam.name %></td>
      <td><%= exam.place%></td>
      <td><%= link_to "elminar" %> | <%= link_to "editar" %> | <%= link_to "ver", exam_path(exam) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
