<%= javascript_include_tag "image_zoom.js" %>
<div class="no-wrap">
    <div>
      <%= render "shared/sidebar" %>
    </div>
  <div class="contenedor-exam">
    <h1 style="position: relative; left: 4rem;">Receta Médica</h1>
  </div>
  <div class="contenedor vh-100">
    <div class="card-exam" style="border: groove;">
      <div class="card-details-exam" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong style="font-size: 1.5rem">Fecha</strong></li>
          <%= @exam.date %>
          <li class="list-group-item"><strong style="font-size: 1.5rem">Nombre estudio</strong></li>
          <%= @exam.name %>
          <li class="list-group-item"><strong style="font-size: 1.5rem">Lugar Estudio</strong></li>
          <%= @exam.place %>
        </ul>
      </div>
      <div class="img-exam" style="border-radius: 1rem;">
      <%= cl_image_tag @exam.photo.key, id:"my-image", style:"height: 31rem;position:relative;left: -1rem;top: 0rem;"%>
      </div>
    </div>
  </div>
</div>
