
<div class="habits-wraper">
  <div>
    <%= render "shared/sidebar" %>
  </div>
  <div class="card-habits-principal ">
    <div class=" card-secundaria-habits">
      <h1 class="titulo-1">Buenos dias, <%= current_user.name %> :</h1>
        <h4 style="display: flex;justify-content: center;font-family: 'Montserrat';font-weight: 300;margin-bottom: -1rem">Estos son tus habitos</h4>
        <div style="display: flex;position: relative;left: 18rem;height: 11rem;">
          <div class="secondary-barra" style="margin-top: 3rem;margin-bottom: 3rem;background-color#: f9f8f8;align-items: center;background: #f9f8f8;border-radius: 60px;justify-content: center;display: flex;    width: 43rem;">
            <div style="margin-right: 2rem;">
              <h4 style="font-size: inherit;color: #6d6e6f;">Hábitos totales : <%= @habits.count %></h4>
            </div>
            <div style="margin-right: 2rem;">
              <h4 style="font-size: inherit;color: #6d6e6f;">Porcentaje Salud : 50%</h4>
            </div>
            <div style="margin-right: 2rem;">
              <h4 style="font-size: inherit;color: #6d6e6f;"> Agregar hábito  </h4>
            </div>
          </div>
        </div>
        <div class="general-card">
          <div class="card-habits">
            <div class="avatar1" style="display: grid;grid-template-columns: 0fr 1fr;border-bottom: inset;height: 7rem;">
              <%= image_tag "healthy-habits", class:"avatar-1", style:"border-radius:50%;height: 5rem;margin-left: 1rem;margin-top: 1rem;"%>
                  <h4 class="card-text-habitos-1"> Tus hábitos</h4>
            </div>
                <div class="table-principal">
                  <table class="table" style="font-weight: 100;font-family: 'Montserrat';;">
                    <thead>
                      <tr>
                        <th scope="col">TIPO</th>
                        <th scope="col">VALOR</th>
                        <th scope="col">FRECUENCIA</th>
                        <th scope="col">ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <% @habits.each do |habit|  %>
                      <tr>
                        <th scope="row" style="position: relative; text-align: left;"><%= habit.habit_type%></th>
                        <td><%= habit.quantity %></td>
                        <td><%= habit.frequency%></td>

                        <td><%= link_to habit_path(habit), data: {turbo_method: :delete, turbo_confirm: "Estas seguro que deseas eliminar el habito?"} do %>
                        <i class="fa-solid fa-trash" style="color: #f05168"></i>
                        <% end %>

                        | <%= link_to edit_habit_path(habit) do %>
                        <i class="fa-solid fa-pencil" style="color: #ffcc07"></i>
                        <% end %>

                        | <%= link_to habit_path(habit) do %>
                        <i class="fa-solid fa-eye"></i>
                        <% end %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
          </div>
            <div class="card-habits">
              <div class="avatar1" style="display: grid;grid-template-columns: 0fr 1fr;border-bottom: inset;height: 7rem;">
                <%= image_tag "grafico-torta2", class:"avatar-1", style:"border-radius:50%;height: 5rem;margin-left: 1rem;margin-top: 1rem;"%>
                    <h4 class="card-text-habitos-1"> Tus Resultados</h4>
              </div>

            </div>
        </div>
      </div>
  </div>
</div>
