<div class="no-wrap">
  <div>
    <%= render "shared/sidebar" %>
  </div>
  <div class="contenedor mt-5">
    <div class="contenedor mt-5 mb-1 vh-100">
    <h1>PRINCIPALES INDICADORES DE SALUD</h1>
    <h4>Llevar un control de tus habitos es una buena practica para poder llevar un control de tu Salud.</h4>
    <div class="card d-flex justify-content-center" style="width: 50rem">
      <div class="row" style="position: relative; right: -13rem;">
        <h3 style="position: relative; left: -13rem;">TUS HABITOS</h3>
        <%= link_to new_habit_path do %>
          <i class="fa-solid fa-plus icono" style="background-color: #09aea6"></i>
        <% end %>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">TIPO</th>
              <th scope="col">VALOR</th>
              <th scope="col">FRECUENCIA</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @habits.each do |habit|  %>
            <tr>
              <th scope="row" style="position: relative; text-align: left;"><%= habit.habit_type%></th>
              <td><%= habit.quantity %></td>
              <td><%= habit.frequency%></td>

              <td><%= link_to habit_path(habit), data: {turbo_method: :delete, turbo_confirm: "Estas seguro que deseas eliminar el habito?"} do %>
              <i class="fa-solid fa-trash" style="color: #f05168"></i>
              <% end %>

              | <%= link_to edit_habit_path(habit) do %>
              <i class="fa-solid fa-pencil" style="color: #ffcc07"></i>
              <% end %>

              | <%= link_to habit_path(habit) do %>
              <i class="fa-solid fa-eye"></i>
              <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

</div>
  </div>
</div>
