<div class="no-wrap">
  <div>
    <%= render "shared/sidebar" %>
  </div>
  <div class="contenedor mt-5 vh-100">
    <div class="card mt-5" style="width: 50rem">
      <div class="mt-5 mb-5">
      <h1>HABITO PERSONALIZADO</h1>
      <div class="linea"></div>
    </div>
    <div class="card-body mt-1">
      <h2>Tu habito  <strong><%= @habit.habit_type%></strong></h2>
      <h2>actualmente tiene un valor de  <strong><%= @habit.quantity %></strong></h2>
      <h2>con una frecuencia de <strong><%= @habit.frequency%></strong></h2>
    <div class="mt-5">
      <%= link_to "Volver", habits_path(@habits), class: "btn btn-secondary" %>
    </div>
    </div>
  </div>
</div>
